<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/benderopedia/bootstrap/css/bootstrap.min.css" />
		<!-- <script src="/benderopedia/js/tex2htm.js"></script> -->
		<script src="/benderopedia/jsMath/easy/load.js"></script>
		<title>{{ page.title }} &mdash; Бендеропедия</title>
		<style>
			h1 { border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-bottom: 15px; }
			body { padding-top: 10px; padding-bottom: 40px; }
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<center><a href="/benderopedia"><img src="/benderopedia/logo.jpg" /><br /><br /><b><big>Бендеропедия</big></b></a></center>
				</div>
				<div class="span10">
					{% if page.url != '/index.html' %}
					<a class="btn" href="https://github.com/m1kc/benderopedia/blob/gh-pages/{{ page.title }}.md" style="float: right;"><i class="icon-pencil"></i> Перейти на github для редактирования</a>
					{% endif %}
					<h1>{{ page.title }}</h1>
					{{ content }}
				</div>
			</div>
		</div>
	</body>
</html>
